# Dashboard
streamlit

# Data Handling
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
plotly-express

# NLP
textblob
nltk
spacy
scikit-learn
regex

# APIs
praw
aiohttp
python-dotenv

# Notebooks / Dev
jupyter
ipykernel
scipy
pillow
